version: '3.8'

services:
  redis:
    image: redis:7-alpine
    restart: always

  backend:
    build: ./backend
    command: daphne -b 0.0.0.0 -p 8000 config.asgi:application
    volumes:
      - ./backend:/app
      - ./backend/db.sqlite3:/app/db.sqlite3
      - ./backend/media:/app/media            # <-- Бэкенд кладет файлы сюда
      - ./backend/staticfiles:/app/staticfiles
    environment:
      - REDIS_HOST=redis
      - DJANGO_ALLOWED_HOSTS=*
    depends_on:
      - redis

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    volumes:
      # === ДОБАВЬ ЭТУ СТРОКУ ===
      # Фронтенд (Nginx) берет файлы отсюда, чтобы показать их пользователю
      - ./backend/media:/usr/share/nginx/html/media
      - ./backend/staticfiles:/usr/share/nginx/html/static
    depends_on:
      - backend